<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eva</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <div class="container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo-area">
        <img src="/static/img/logo-eva-2.png" alt="Logo Eva" class="logo">
      </div>
      <nav class="nav-menu">
        <ul class="nav-principal">
          <li><a href="#">Portfólio</a></li>
          <li><a href="#">Sobre</a></li>
        </ul>
        <hr class="divisor">
        <ul class="nav-secundaria">
          <li><a href="#">Clubes do Livro</a></li>
          <li><a href="#">Editoras</a></li>
          <li><a href="#">Livros</a></li>
        </ul>
        <hr class="divisor">
        <ul class="nav-secundaria">
          <li><a href="#">Configurações</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Conteúdo Principal -->
    <main class="main-content">
      <div class="container-busca">
          <form method="get" action="">
              <input type="text" name="q" placeholder="Digite o título, autor ou palavra-chave...">
              <button type="submit" class="" aria-label="Pesquisar"></button>
          </form>
      </div>
      <section class="welcome">
        <h2>Bem-vindos a Eva</h2>
        <p>
          Este é o site Eva, uma plataforma dedicada a conectar leitores, clubes do livro e editoras em um só lugar. Explore nosso catálogo, participe de discussões e descubra sua próxima leitura favorita.
        </p>
      </section>
      <footer>
        <p>&copy; Eva 2026</p>
      </footer>
    </main>
  </div>
</body>
</html>
