{% extends "base.html" %}
{% load static %}
{% block title %}Sobre{% endblock %}

{% block content %}
<section class="sobre-container">
    <h2>Sobre a Plataforma Literária Eva</h2>
    <p>O Eva é uma plataforma para escritores publicarem de forma gratuita seus trabalhos literários.</p>
    <p>Inovadora e dedicada a conectar leitores, clubes do livro e editoras em um só lugar, Eva é o destino
    ideal para os amantes da literatura.</p>
    <p>Nosso objetivo é criar uma comunidade vibrante onde amantes da literatura possam explorar novos títulos, </p>
    participar de discussões enriquecedoras e descobrir suas próximas leituras favoritas.</p>
</section>

<section class="sobre-container">
    <h2>Nossa Missão</h2>
    <p>Nossa missão é promover a leitura e facilitar o acesso a uma ampla variedade de livros, incentivando a troca de ideias e experiências entre leitores de diferentes perfis. 
    Acreditamos que a leitura é uma ferramenta poderosa para o crescimento pessoal e social.</p>
    <h3>O que oferecemos:</h3>
    <ul>
        <li><strong>Catálogo Diversificado:</strong> Uma vasta seleção de livros de diversos gêneros e autores, atendendo a todos os gostos literários.</li>
        <li><strong>Clubes do Livro:</strong> Espaços dedicados para que leitores possam se reunir, discutir obras e compartilhar suas opiniões.</li>
        <li><strong>Parcerias com Editoras:</strong> Colaborações com editoras renomadas para trazer lançamentos exclusivos e promoções especiais aos nossos usuários.</li>
        <li><strong>Eventos Literários:</strong> Organização de eventos online e presenciais, como lançamentos de livros, sessões de autógrafos e palestras com autores.</li>
    </ul>
</section>

<section class="convite-container">
    <h2>Junte-se a Nós</h2>
    <p>Se você é apaixonado por escrever e tem um manuscrito em mãos, Eva é o lugar certo para você edita-lo e publica-lo. 
    <p>Explore nosso site, participe dos clubes do livro e descubra tudo o que temos a oferecer!</p>
</section>
{% endblock %}
